.pokemon-info {
  display: flex;
  flex-direction: column;

  &__img {
    display: block;
    width: 100%;
    max-width: 450px;
    height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .pokemon-info {
    &__img {
      max-width: 350px;
    }
  }
}
