.header {
    background-color: #EBEBEB;
    display: flex;
    height: 60px;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;

    &__logout-btn {
        margin-left: auto;
    }
}
