.form-button {
    width: 96px;
    height: 96px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: #999;
    background-image: url("../../../assets/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}
