.otp-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 426px;
    padding: 55px;
    background-color: #FAFAFA;

    &__btn {
        align-self: center;
    }
}
