.pokemons {
  &__header {
    margin-bottom: 30px;
  }

  &__main {
    display: flex;
  }

  &__filters {
    margin-right: 50px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }
}
