.select {
  position: relative;
  width: 275px;
  height: 68px;
  padding: 26px 16px;
  background-color: #ececec;
  cursor: pointer;

  &--active {
    background-color: #ececec;
    border: 1px solid #3c3c3c65;
  }

  &__dropdown {
    position: absolute;
    top: 103%;
    left: 0;
    display: none;
    width: 100%;
    padding: 6px 13px;
    background-color: #f2f2f2;

    &--active {
      display: block;
    }
  }

  &__item {
    background-color: #e9e7e7;

    &:hover {
      background-color: #3c3c3c65;
    }
  }
}
