.pokemon-cards {
  padding: 59px 86px;
  background-color: #fafafa;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    margin-right: 80px;
    margin-bottom: 30px;
    cursor: pointer;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
