.form-input {
  padding: 5px;
  padding-left: 0;
  background-color: transparent;
  border: none;
  outline: none;

  &:focus {
    border: 1px solid #9f9a9a;
  }

  &--invalid {
    border: 1px solid red;
  }
}
